@model IEnumerable<Core.ApplicationServices.DTOs.TransactionDTO>

@{
    ViewData["Title"] = "Transactions";
}


<section class="page-section" id="createWallet">
    <h1>Transactions</h1>

    <label>Date filter:</label>
    <form asp-action="Transactions" method="get">
        <input type="text" name="walletId" value="@TempData["WalletId"]" style="display:none"/>
        <input type="date" name="date" />
        <button type="submit">Filter</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WalletId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RelatedWalletJmbg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReferenceTransactionId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WalletId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RelatedWalletJmbg)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReferenceTransactionId)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>